/* 
1.NAVBAR
2.HERO
3.MEDIA QUERIE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
:root
{
  --yellow:#FFC233;
  --pink:#FF505F;
  --white:#ffffff;
}

.container
{
  background-image:url("./assets/pexels-maxyne-barcel-10402282.jpg");
  background-color:rgb(72, 82, 120);
  background-size: cover;
  background-blend-mode:multiply;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  height: 100%;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar{
  height: 20vh;
  width: 100vw;
  line-height: 20vh;
}
.navbar > *{
  line-height: 1.7;
  vertical-align: middle;
  display: inline-block;
  margin: 1rem;
}
.navbar div:first-of-type{
  width: 10%;
}
.navbar div:first-of-type img{
  width: 100%;
}
.navbar div:nth-child(2){
  width: 50%;
  margin: 0 7%;
}
.list-item{
  display: inline-block;
  margin: 0 2rem;
  color: var(--yellow);
  cursor: pointer;
}
.list-item:hover{
  transition: 0.25s ease-in-out;
  border-bottom: 1.5px solid var(--pink);
}
.list{
  float: right;
}
.navbar div:last-of-type{
  width: 10%;
}
.navbar div:last-of-type button{
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  background-color: var(--pink);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */


.hero{
  width: 100%;
}
.hero-heading{
  display: block;
  margin: 0 auto;
  width: 50%;
  font-weight: 900;
  text-align: center;
 font-size: clamp(2.5rem, 4vw + 1rem, 5rem);
 color: var(--yellow);
}
.hero button{
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: var(--pink);
  border-radius: 5px;
  color: var(--white);
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
}
.bottom img{
  width: 100%;
}
.button-large:hover{
  transition: 0.2s ease-in-out;
  padding: 10px 22px;
  font-size: 1.2rem;
}

/* ------------------------------ */
/* ---------- MEDIA QUERIE ------------ */
/* ------------------------------ */
@media (max-width:1024px){
  .navbar div:nth-last-child(-n+2) 
  {display: none;}
  .hero-heading{
    width: 70vw;
  }
  .bottom{
    max-width: 80px;
  }
  .navbar div:first-of-type{
    width: 25%;
  }

}